<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Word</key>
		<string>recalcitrant</string>
		<key>Type</key>
		<string>adj. &amp; noun</string>
		<key>Meaning</key>
		<string>(Person) objecting to restraint or obstinately disobedient</string>
		<key>Sentence</key>
		<string>He is among the most recalcitrant children I&apos;ve ever seen, simply refusing to do anything that I ask him to do.</string>
	</dict>
	<dict>
		<key>Word</key>
		<string>redundant</string>
		<key>Type</key>
		<string>adj.</string>
		<key>Meaning</key>
		<string>Unnecessary, Something which is no longer useful</string>
		<key>Sentence</key>
		<string>The reduction of prices in the modern color TV systems have made the old black and white TV systems redundant as almost all buyers now prefer the new system.</string>
	</dict>
	<dict>
		<key>Word</key>
		<string>renegate</string>
		<key>Type</key>
		<string>noun</string>
		<key>Meaning</key>
		<string>a deserter, traitor</string>
		<key>Sentence</key>
		<string>The party could not believe that the man it had been relying upon for so many years could turn out be a renegade, and desert the party.</string>
	</dict>
	<dict>
		<key>Word</key>
		<string>ruddy</string>
		<key>Type</key>
		<string>adj.</string>
		<key>Meaning</key>
		<string>Reddish, Having a healthy red color</string>
		<key>Sentence</key>
		<string>The teenager had a ruddy and healthy look about her, and I could make out that she came form a good family</string>
	</dict>
	<dict>
		<key>Word</key>
		<string>remonstrate</string>
		<key>Type</key>
		<string> verb</string>
		<key>Meaning</key>
		<string>Protest earnestly</string>
		<key>Sentence</key>
		<string>A huge crowd had gathered in front of the office of the party to remonstrate against the decision of the party president to resign</string>
	</dict>
</array>
</plist>
