<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Word</key>
		<string>negate</string>
		<key>Type</key>
		<string>verb</string>
		<key>Meaning</key>
		<string>To cause something to lose effect and therefore become useless</string>
		<key>Sentence</key>
		<string>The heavy rain negated all their efforts to set the tent upright; they finally gave up and waited for the rain to stop</string>
	</dict>
	<dict>
		<key>Word</key>
		<string>navigable</string>
		<key>Type</key>
		<string>adj.</string>
		<key>Meaning</key>
		<string>Affording passage for ships</string>
		<key>Sentence</key>
		<string>During summers, this river becomes too shallow to be navigable, so the boats ply only from September to March</string>
	</dict>
	<dict>
		<key>Word</key>
		<string>nauseate</string>
		<key>Type</key>
		<string>verb</string>
		<key>Meaning</key>
		<string>1) Cause to become sick 2) Fill with disgust</string>
		<key>Sentence</key>
		<string>The atmosphere in and around the hospital after the explosion was so nauseating that the patients could not swallow food.</string>
	</dict>
	<dict>
		<key>Word</key>
		<string>nautical</string>
		<key>Type</key>
		<string>adj.</string>
		<key>Meaning</key>
		<string>Pertaining to ships or navigation</string>
		<key>Sentence</key>
		<string>The party had a nautical theme -- the host was dressed up like a sailor, the entire ambience was that of a ship, and the guests were treated as if they were the passengers of a luxury cruise.</string>
	</dict>
	<dict>
		<key>Word</key>
		<string>negligence</string>
		<key>Type</key>
		<string>noun</string>
		<key>Meaning</key>
		<string>Lack of proper care or attention</string>
		<key>Sentence</key>
		<string>He could not pass the examination because of his negligence towards studies; he was often seen sleeping in his room when he should have been studying</string>
	</dict>
</array>
</plist>
