<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Word</key>
		<string>ecclesiastical, ecclesiastic </string>
		<key>Type</key>
		<string>adjective</string>
		<key>Meaning</key>
		<string>Of or relating to the god, that which is not bound by the constraints of earthly parameters.</string>
		<key>Sentence</key>
		<string>(1) The ecclesiastical history Rome is of great importance in the study of Christianity. (2) Having pursued material and commercial gains all his life, he has now focussed his attention on spiritual and ecclesiastic pursuits after handing over the reins of his business to his only daughter</string>
	</dict>
	<dict>
		<key>Word</key>
		<string>emancipate</string>
		<key>Type</key>
		<string>verb</string>
		<key>Meaning</key>
		<string>To set free from legal, social, political or moral restraint</string>
		<key>Sentence</key>
		<string>The slaves were overwhelmed by their emancipation from imprisonment after nine years</string>
	</dict>
	<dict>
		<key>Word</key>
		<string>epicure</string>
		<key>Type</key>
		<string>noun</string>
		<key>Meaning</key>
		<string>A person having great interest in matters of taste and enjoymentticularly food and drink </string>
		<key>Sentence</key>
		<string>Bruce is a complete Epicurean who believes more in simply enjoying life rather than working hard.</string>
	</dict>
	<dict>
		<key>Word</key>
		<string>epigraph</string>
		<key>Type</key>
		<string>noun</string>
		<key>Meaning</key>
		<string>Study of inscription on stones etc</string>
		<key>Sentence</key>
		<string>The Father of the Nation is the epigraph carved below this statue of Mahatma Gandhi</string>
	</dict>
	<dict>
		<key>Word</key>
		<string>evanescence</string>
		<key>Type</key>
		<string>noun</string>
		<key>Meaning</key>
		<string>Vanishing, fading from sight or senses</string>
		<key>Sentence</key>
		<string>Once a great actress, this old woman now stays seriously ill and her past memories is almost evanescent</string>
	</dict>
</array>
</plist>
