<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Word</key>
		<string>abet</string>
		<key>Type</key>
		<string>verb</string>
		<key>Meaning</key>
		<string>Incite or support, encourage (usually an offender or the commission of an offence)</string>
		<key>Sentence</key>
		<string>The judge ruled Mr. Cornwell guilty of aiding and abetting the main accused in the bank-robbery case.</string>
	</dict>
	<dict>
		<key>Word</key>
		<string>abeyance</string>
		<key>Type</key>
		<string>noun </string>
		<key>Meaning</key>
		<string>Suspended action</string>
		<key>Sentence</key>
		<string>With the pace of life in Indian metros getting faster by the day, many of the old Indian traditions have fallen into abeyance and are no longer practiced.</string>
	</dict>
	<dict>
		<key>Word</key>
		<string>abject</string>
		<key>Type</key>
		<string>adjective</string>
		<key>Meaning</key>
		<string>Sunk to a low condition, Degraded</string>
		<key>Sentence</key>
		<string>Within a space of five years, the Orchard family was transformed from a state of plentiful extravagance to one of abject poverty.</string>
	</dict>
	<dict>
		<key>Word</key>
		<string>abjure</string>
		<key>Type</key>
		<string>verb</string>
		<key>Meaning</key>
		<string>To deny, To abandon one&apos;s claim or right</string>
		<key>Sentence</key>
		<string>John has legally abjured himself from his father&apos;s wealth, saying that he is not interested in inheriting money that has been earned unscrupulously</string>
	</dict>
	<dict>
		<key>Word</key>
		<string>abnegation</string>
		<key>Type</key>
		<string>noun </string>
		<key>Meaning</key>
		<string>Lack of concern for one&apos;s own wishes</string>
		<key>Sentence</key>
		<string>According to some religious preachers, self-abnegation is the only route to a state of unlimited happiness</string>
	</dict>
</array>
</plist>
