<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Word</key>
		<string>hostility</string>
		<key>Type</key>
		<string>noun</string>
		<key>Meaning</key>
		<string>Unfriendliness, State of warfare</string>
		<key>Sentence</key>
		<string>I tried hard to bring about an understanding between them, but their hostility had increased to such an extent that they simply refused to talk to each other</string>
	</dict>
	<dict>
		<key>Word</key>
		<string>hovel</string>
		<key>Type</key>
		<string>noun</string>
		<key>Meaning</key>
		<string>An small shed or house in miserable condition</string>
		<key>Sentence</key>
		<string>The house was little more than a hovel and totally inhospitable</string>
	</dict>
	<dict>
		<key>Word</key>
		<string>hover</string>
		<key>Type</key>
		<string>verb &amp; noun</string>
		<key>Meaning</key>
		<string>(1) Hang about in the air, or wait at a nearby place (2) Remain in an undecided state</string>
		<key>Sentence</key>
		<string>Several suspicious looking characters hovered around at the port, and as night fell, they started their illegal operations under cover of darkness</string>
	</dict>
	<dict>
		<key>Word</key>
		<string>humility</string>
		<key>Type</key>
		<string>noun</string>
		<key>Meaning</key>
		<string>Humbleness, Not being proud</string>
		<key>Sentence</key>
		<string>Despite being the richest person at the gathering, Mr. Bramson is the personification of humility -- talking to him, no one can imagine how rich he is</string>
	</dict>
	<dict>
		<key>Word</key>
		<string>hurtle</string>
		<key>Type</key>
		<string>verb</string>
		<key>Meaning</key>
		<string>To move very fast, usu. in a dangerous way</string>
		<key>Sentence</key>
		<string>The children hurtled down the hill on their bicycles, thrilled at the speed and the freedom</string>
	</dict>
</array>
</plist>
