<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Word</key>
		<string>dearth</string>
		<key>Type</key>
		<string>noun</string>
		<key>Meaning</key>
		<string>Scanty supply of something </string>
		<key>Sentence</key>
		<string>Though there was no dearth of milk in his house, he refused to give the crying child even a drop of it</string>
	</dict>
	<dict>
		<key>Word</key>
		<string>debase</string>
		<key>Type</key>
		<string>verb</string>
		<key>Meaning</key>
		<string>Reduce in quality or value; Lower in quality </string>
		<key>Sentence</key>
		<string>Even as the remixed versions of old songs are becoming increasingly popular among the youth today, the older generation considers them to be a debasement of good music of the yesteryears</string>
	</dict>
	<dict>
		<key>Word</key>
		<string>debauched</string>
		<key>Type</key>
		<string>adjective</string>
		<key>Meaning</key>
		<string>Morally and physically ruined because of over indulgence in alcohol, sex, drugs, etc</string>
		<key>Sentence</key>
		<string>While the elder son of the family had left all worldly possessions for spiritual enlightenment, the younger son had fallen into bad company and had been debauched beyond repair</string>
	</dict>
	<dict>
		<key>Word</key>
		<string>debonair</string>
		<key>Type</key>
		<string>adjective</string>
		<key>Meaning</key>
		<string>Friendly, Pleasant, Unembarrassed </string>
		<key>Sentence</key>
		<string>All the nurses in the hospital wanted to be in the same shift as the debonair young doctor who had just joined the hospital, had charmed the ladies with his stylish ways and attractive looks</string>
	</dict>
	<dict>
		<key>Word</key>
		<string>debris</string>
		<key>Type</key>
		<string>noun</string>
		<key>Meaning</key>
		<string>Scattered fragments, Wreckage </string>
		<key>Sentence</key>
		<string>In a tragic accident, six children were killed when they were buried under the debris of the school building which partially collapsed because of faulty construction</string>
	</dict>
</array>
</plist>
